<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">

<head>
    <title>Add Employee</title>
</head>

<body>

<section>
    <h2>Employee Form</h2>

    <form action="/saveEmployee" th:object="${employee}" method="post">

        <!-- IMPORTANT: hidden ID field -->
        <input type="hidden" th:field="*{id}" />

        Name:
        <input type="text" th:field="*{name}"><br><br>

        Email:
        <input type="text" th:field="*{email}"><br><br>

        Department:
        <input type="text" th:field="*{department}"><br><br>

        Salary:
        <input type="text" th:field="*{salary}"><br><br>

        <button type="submit" class="btn btn-success">Save</button>

    </form>
</section>
</body>
</html>